.container{
    
    /* border: 2px solid black; */
    text-align: center;
}
.item1,
.item2,
.item3,
.item4 {
   
   /* border: 2px solid black; */
   width: 280px;
   margin: 10px;
  display: inline-block;
  vertical-align: top;
  text-align: center;

}
img{
    width: 100%;
}